<h1 class="center">Crédit</h1>

<div class="row center">
    <h2>Site web développée par</h2>
    <div class="col s3">
        <div class="center test">
            <img class="responsive-img circle photoSize" src="assets/img/camilleFontaine.jpg">
            <h2>
                Camille Fontaine
            </h2>
            <a href="https://github.com/CamJr" target="_blank"><img class="responsive-img circle " src="assets/img/github.png"></a>
            <a href="https://www.linkedin.com/in/camfontaine/" target="_blank"><img class="responsive-img circle " src="assets/img/linkedin.png"></a>
        </div>
    </div>

    <div class="col s3">
        <div class="center test">
            <img class="responsive-img circle photoSize" src="assets/img/kevinPoyer.jpg">
            <h2>
                Kevin Poyer
            </h2>
            <a href="https://github.com/MrDrannoc" target="_blank"><img class="responsive-img circle " src="assets/img/github.png"></a>
            <a href="https://www.linkedin.com/in/kevin-poyer/" target="_blank"><img class="responsive-img circle " src="assets/img/linkedin.png"></a>
        </div>
    </div>

    <div class="col s3">
        <div class="center test">
          <img class="responsive-img circle photoSize" src="assets/img/johanHelias.jpg">
            <h2>
                Johan Helias
            </h2>
            <a href="https://github.com/medaak" target="_blank"><img class="responsive-img circle " src="assets/img/github.png"></a>
            <a href="https://www.linkedin.com/in/johan-helias/" target="_blank"><img class="responsive-img circle " src="assets/img/linkedin.png"></a>
        </div>
    </div>

    <div class="col s3">
        <div class="center test">
          <img class="responsive-img circle photoSize" src="assets/img/pascaleBarboteau.jpg">
            <h2>
                Pascale Barboteau
            </h2>
            <a href="https://github.com/PascaleB1" target="_blank"><img class="responsive-img circle " src="assets/img/github.png"></a>
            <a href="https://www.linkedin.com/in/pascale-barboteau-4a0409a5/?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_all_connections%3BCgNgam%2BrTBiDp8tBZ5zU9w%3D%3D&licu=urn%3Ali%3Acontrol%3Ad_flagship3_profile_view_base_all_connections-profile_link" target="_blank"><img class="responsive-img circle " src="assets/img/linkedin.png"></a>
        </div>
    </div>
