<div class="container">
  <div class="col s12">
    <div class="card {{vm.emploiServices[0].color}}">
      <div class="card-content white-text">
        <span class="card-title">{{vm.emploiServices[0].job}}</span>
        <p>{{vm.emploiServices[0].text}}</p><br>
        <p><i class="material-icons prefix">place</i>{{vm.emploiServices[0].adresse}}</p>
      </div>
      <div class="card-action">
        <i class="material-icons white-text">link</i>
        <a href="{{vm.emploiServices[0].href}}">Lien</a>
      </div>
    </div>
  </div>

<h1 class="center">Détail</h1>

<div id="map"></div>



<div class="row col s12 serviceResponsive">
  <h1 class="center">Services</h1>

<div ng-repeat="service in vm.services" class="container col s4">
  <div class="card-panel greenCard">
    <div class="row valign-wrapper">
      <div class="col s2">
        <img src="assets/img/{{service.img}}.png" alt="" class="responsive-img">
      </div>
      <div class="col s10">
        <p>{{service.title}}</p>
        <span class="black-text">
          {{service.description}}
        </span>
      </div>
    </div>
  </div>
</div>
</div>
