<div class="row">
  <div class="col s12 m4">
    <div class="card redCard">
      <div class="card-content white-text">
        <span class="card-title">Emploi</span>
        <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
      </div>
      <div class="card-action">
        <a href="/#/creationEmploi">This is a link</a>
      </div>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="card blueCard">
      <div class="card-content white-text">
        <span class="card-title">Particuliers</span>
        <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
      </div>

      <div class="card-action row">
        <div class="col s12 m8">
          <input id="first_name2" type="text" class="validate" placeholder="Code Postal">
        </div>
        <div class="col s12 m4">
          <a href="/#/localisation" class="waves-effect waves-light btn white blue-text right">VALIDER</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="card greenCard">
      <div class="card-content white-text">
        <span class="card-title">Services</span>
        <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
      </div>
      <div class="card-action">
        <a href="/#/creationService">This is a link</a>
      </div>
    </div>
  </div>
</div>
