<div class="row">
  <div class="col s12 m4">
    <div class="card redCard">
      <div class="card-content white-text">
        <span class="card-title">Emploi</span>
        <p>Vous avez des postes à pourvoir?<br/>Vous souhaitez participer au dynamisme du Pays de Beauce et ses environs?<br/>Recrutez vos futurs employés localement et libérez leur esprit en leur offrant tous les services de proximité dont ils ont besoin!<br/>Déposez votre offre sur le site, nous nous occupons du reste!<br/></p>
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
        <a href="#">This is a link</a>
      </div>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="card blueCard">
      <div class="card-content white-text">
        <span class="card-title">Particuliers</span>
        <p>Vous recherchez un emploi et vous avez besoin de faire garder vos enfants?<br/>Vous avez trouvé un travail et vous souhaitez être logé dans les environs?<br/>Vous souhaitez trouver un moyen de locomation pour vous rendre à votre travail?<br/>Consultez nos offres d'emploi et de services à proximité de chez vous!</p>
      </div>

      <div class="card-action row">
        <div class="col s12 m8">
          <input id="first_name2" type="text" class="validate" placeholder="Code Postal">
        </div>
        <div class="col s12 m4">
          <a href="/#/localisation" class="waves-effect waves-light btn white blue-text right">VALIDER</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="card greenCard">
      <div class="card-content white-text">
        <span class="card-title">Services</span>
        <p>Vous êtes assistante maternelle et avez une place à proposer?<br/>Vous travaillez aux environs de la Zone d'Activité d'Artenay-Poupry et souhaitez proposer du co-voiturage? Vous habitez une grande maison et souhaitez louer une chambre?<br/>Proposez votre service sur le site nous nous chargeons de trouver des personnes intéressées!<br/></p>
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
        <a href="#">This is a link</a>
      </div>
    </div>
  </div>
</div>
