<div class="row">
  <h1 class='registration'>Inscription</h1>
  <form class="col s12">
    <div class="row">
      <div class="input-field col offset-s4 col s4">
        <i class="material-icons prefix">email</i>
        <input id="icon_prefix" type="text" class="validate">
        <label for="icon_prefix">mail</label>
      </div>
      <div class="input-field col offset-s4 col s4">
        <i class="material-icons prefix">vpn_key</i>
        <input id="password" type="password" class="validate">
        <label for="password">Mot de passe</label>
      </div>
    </div>
  </form>
  <div class='center'>
    <a class="waves-effect waves-light btn registration valid">VALIDER</a>
    <a class="waves-effect waves-light btn registration cancel">ANNULER</a>
  </div>
</div>
