body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

#map {
 height: 400px;
 width: 100%;
}

p {
  font-size: medium;
}
h1{
  color: #F7931E;
}

.blueColor{
  color: #297FB8;
}
/*NAVBAR*/

.logo {
  width: 70%;
}

nav, footer {
  background-color: white!important;
}

.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav {
  box-shadow: none!important;
}

.bg {
  width: 100%;
}


/*MAIN*/
.presentation {
  font-size: x-large;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 50px;
}

.redCard {
  background-color: #C1392D!important;
}

.blueCard {
  background-color: #297FB8!important;
}

.greenCard {
  background-color: #15B058!important;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
    color: white!important;
}

.arrow {
  margin-left: 20px;
}

.card-title {
  font-weight: 700 !important;
}

  /*Regsitration*/

  .registration {
    text-align: center;
  }

  .waves-effect.waves-light.btn.registration {
    margin: 20px;
  }

.waves-effect.waves-light.btn.registration.cancel {
   background-color: #c1392d;
}

.waves-effect.waves-light.btn.registration.valid {
  background-color: #15b058;
}

/*profile*/
.fieldprofile {
  margin-top: 60px;
  margin-left: 35px;
}

/*Credit*/

.photoSize{
  width: 50%
}
